<template>
    <div :class="{'dark-mode': darkMode}" class="pt-4">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-3">
                    <p>
                        <strong>
                            Past Orders
                        </strong>
                    </p>
                    <ul>
                        <li v-for="(order, i) in ordersMade" :key="i">
                            {{ order.created_at.date }}
                        </li>
                    </ul>
                </div>
                <div id="sun" class="col-2 float-right" @click="darkMode = !darkMode">

                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="">
                    <div class="equilateralTriangle"></div>
                </div>
            </div>
            <div id="bakery-name">
                COOKIE BAKERY
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-10">
                    <div id="house-body">
                        <div class="d-flex justify-content-center">
                            <div class="p-5">
                                <img src="../assets/cookie.png" width="140" height="140"
                                     v-if="showLeftCookie"
                                     @mouseleave="hideCookieFromWindow('left')"/>
                                <div class="window" v-else @mouseover="getCookieFromWindow('left')"></div>
                            </div>
                            <div class="door pt-4" @click="makeAnOrder">
                                <div id="door-handle"></div>
                            </div>
                            <div id="mailbox" class="pt-2 pb-6 px-4" :class="{'fallen-mailbox': mailBoxTouched}"
                                 @click="mailBoxTouched = !mailBoxTouched">
                                <div id="letter-slot">
                                </div>
                                Mailbox
                            </div>
                            <div class="p-5">
                                <img src="../assets/cookie.png" width="140" height="140" v-if="showRightCookie"
                                     @mouseleave="hideCookieFromWindow('right')"/>
                                <div class="window" v-else @mouseover="getCookieFromWindow('right')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: 'Bakery',
        data() {
            return {
                mailBoxTouched: false,
                showRightCookie: false,
                showLeftCookie: false,
                darkMode: false,
                ordersMade: []
            }
        },
        created() {
            axios.get(process.env.VUE_APP_BACKEND_URL + '/orders').then(response => {
                this.ordersMade = response.data.orders;
            })
        },
        methods: {
            makeAnOrder() {
                if (!this.darkMode) {
                    axios.post(process.env.VUE_APP_BACKEND_URL + '/orders').then(response => {
                        this.ordersMade.push(response.data.order)
                    })
                } else {
                    alert("We don't take orders at this time")
                }
            },
            hideCookieFromWindow(window) {
                if (!this.darkMode) {
                    (window === 'right' ? this.showRightCookie = false : this.showLeftCookie = false);
                }
            },
            getCookieFromWindow(window) {
                if (!this.darkMode) {
                    (window === 'right' ? this.showRightCookie = true : this.showLeftCookie = true);
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    #sun {
        min-height: 200px;
        min-width: 200px;
        border-radius: 50%;
        background: #fffc04;
    }

    .equilateralTriangle {
        width: 0;
        height: 0;
        border-style: solid;
        /*border-width: 0 187px 200px 187px;*/
        /*border-width: 0px 15vw 20vh 13vw;*/
        border-width: 0px 15vw 28vh 15vw;
        /*border-width: 0px 17vw 28vh 18vw;*/
        border-color: transparent transparent #dd7e6a transparent;
        /*background: #dd7e6a;*/


        /*@media screen and (min-width: 1920px){*/
        /*    margin-left: 35px;*/
        /*}*/

        @media screen and (max-width: 1600px) {
            min-width: 50%;
            border-width: 1px 40vw 28vh 42vw;
        }

    }

    #house-body {
        background: lightgray;
        /*width: 30vw;*/
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }

    .window {
        min-height: 140px;
        min-width: 140px;
        border-radius: 50%;
        background: #cee1f2;
        border: 4px solid #9fc5e8;
    }

    .door {
        min-height: 246px;
        /*min-width: 100%;*/
        min-width: 25%;
        margin-top: 87px;
        background: #f6b26b;
    }

    .door:hover {
        cursor: pointer;
    }

    #door-handle {
        align-self: center;
        min-width: 25%;
        width: 25%;
        min-height: 5%;
        background: #b66209;
        position: relative;
        top: 35%;
        margin-left: 5px;
    }

    #mailbox {
        background: #999999;
        position: absolute;
        z-index: 3;
        height: 100px;
        width: 160px;
        top: 58%;
        left: 68%;
    }

    #letter-slot {
        min-height: 20%;
        min-width: 80%;
        margin-bottom: 10px;
        background: #656665;
    }

    #bakery-name {
        padding: 1em;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        background: #93c47d;
        border: 3px solid #6aa84f;
        width: 15vw;
        position: absolute;
        z-index: 3;
        font-weight: 900;
        top: 52%;
        right: 25%;
        left: 25%;
    }

    .fallen-mailbox {
        -webkit-animation-name: cssAnimation;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
    }

    @-webkit-keyframes cssAnimation {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(100%);
        }
    }

    .dark-mode {
        background: #2c3e50;
        color: white;
    }
</style>
